#####################################################
### SPARTAN-3E STARTER KIT BOARD CONSTRAINTS FILE
#####################################################

# ==== Pushbuttons (BTN) ====
NET "start" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "rst" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;
#NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
#NET "BTN_WEST" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;

# ==== Clock inputs (CLK) ====
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
#Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "clk" PERIOD = 20.0ns HIGH 50%;
#NET "CLK_AUX" LOC = "B8" | IOSTANDARD = LVCMOS33;
#NET "CLK_SMA" LOC = "A10" | IOSTANDARD = LVCMOS33;

# ==== Discrete LEDs (LED) ====
# These are shared connections with the FX2 connector
NET "tx_active" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "done" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<6>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
# NET "LED<7>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;


# ==== RS-232 Serial Ports (RS232) ====
NET "tx" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW; 
#NET "tx" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
# NET "RS232_DCE_RXD" LOC = "R7" | IOSTANDARD = LVTTL;
#NET "RS232_DTE_RXD" LOC = "U8" | IOSTANDARD = LVTTL;


# ==== Slide Switches (SW) ====
NET "effect[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "effect[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "shr_or_eff" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
#NET "SW<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;